[Unit]
Description=direwolf-eink
After=network.target

[Service]
Type=forking
#Modify the line below to fit your own needs
ExecStart=/usr/bin/tmux new-session -d -s direwolf '/home/gktnc/Direwrite/direwrite.sh'
Restart=on-failure

[Install]
WantedBy=default.target